# dependencies
node_modules/

# next build
.next/
out/
.tsbuildinfo

# environment variables
.env
.env.local
.env.development
.env.production

# vercel
.vercel

# logs
*.log

# debug json files
*_dump.json
*_output.json
debug_*.json
/scripts
/data

# OS files
.DS_Store
Thumbs.db
